:root {
    --fuentePrincipal:  'Montserrat', sans-serif;
    --fuenteSecundaria: 'PT Sans', sans-serif;

    --primario: #f1a94e;
    --secundario: #44b3c2;
    --claro: #ffffff;
}
html {
    scroll-behavior: smooth;
  }
    ::-webkit-scrollbar {
        width: 7px;
      }
      ::-webkit-scrollbar-track {
        background: none;
      }
      ::-webkit-scrollbar-thumb {
        background: #3e97a3;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: var(--secundario);
      }

body {
    font-family: var(--fuentePrincipal);
}
.contenedor {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem;
}
p{
    font-family: var(--fuenteSecundaria);
    font-size: 1.2rem;
    line-height: 2rem;
}
.logo-img{
    max-height: 80px;
    /* width: 40px; */
    padding:0;
    margin:0;
}
/*nav*/
.navbar{
    padding:0;
    width: 100%;
    z-index: 1;
    background-color: white !important;
    padding-bottom: 0;
    transition: top 0.5s;
    box-shadow: 2px 2px 10px -5px #c99ab1;
}
.dropdown-menu{
    background-color: white !important;
    box-shadow: 2px 2px 6px -2px #929292;
}

.dropdown-menu.show{
    visibility: visible;
    opacity: 1;
}

.nav-item a{
    color: rgb(68, 179, 194) !important;
}
.dropdown-item{
    color:white !important;
}
.dropdown-item:hover{
    /* background-color: #dadada; */
    background-color: #ffeff6;
}
.navbar-toggler{
    outline: none !important;
    transform: rotate(0deg);
    transition: transform .3s ease;
    box-shadow: none !important;
    border:none;
}

.rotate{
    outline: none !important;
    box-shadow: none !important;
    transform: rotate(90deg) !important;
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: flex-end;
}
.mr-auto li{
    margin:0 3rem;
}

/*encabezado*/
.hero{
    background-image:url(../assets/alternative.png);
    height: 91vh;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: contain;
    background-position: right;
    /* background-position:  right; */
    /* background-attachment: fixed; */
}
.hero:hover{
animation-name: MOVE-BG;
animation-duration: 500s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes MOVE-BG {
    from {
      transform: translateY(0);
    }
    to { 
      transform: translateY(-100%);
    }
 }

@media(max-width:1200px){
    .hero{
        background-position-x: right;
        /* background-size:auto; */
        /* background-size: 500px; */
        /* background-position: right; */
        /* background-size: auto; */
        background-position-y: top;

    }
}
@media(max-width:768px){
    .hero{
        background-position-y: top;
        /* background-position: top 2cm right; */
        /* background-size: contain; */

        /* overflow: hidden; */
    }
}

.hero .contenedor{
    display:grid;
    align-content: center;
    height: 100vh;
}
.hero .contenido{
    text-align: left;
    color:var(--secundario);
    position: relative;
    width: 50%;
    
}
/*custon hero headline*/
.titulo{
    margin:0;

}

.subtitulo{
    font-size: 1.6rem;
    transform: rotate(-1.2deg);
    transition:transform .3s ease;
}
.subtitulo:hover{
    transform:rotate(0deg);
}
.custonBtn{
    border:none;
    outline: none;
    background-color: #f29933;
    border-radius: 20px;
    padding: 15px;
    color:white;
    font-size: 20px;
    transition:background-color .3s ease;
}
.custonBtn:focus{
    outline: none;
}
.custonBtn:hover{
    background-color: #ffb560;

}
/*end hero*/


/*services*/
.servicios{
    text-align: center;
    margin-top: 5rem;
}

.servicios h2{
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

.servicios h2::after{
    height: .5rem;
    width: 7rem;
    background-color: var(--primario);
    content: "";
    display: block;
    margin: 1rem auto 0 auto;
}

.servicios i{
    font-size: 3rem;
    color:var(--secundario);
    margin-bottom: 2rem;
}

@media(min-width:992px){
    .servicios{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        column-gap: 2rem;
    }
    
    .servicio{
        border-radius: 10px;
        box-shadow: 2px 2px 7px 6px #e1e1e1;
        padding: 1rem;
        transition:all .3s ease-in-out;
    }
    .servicio:hover{
        box-shadow: 1px 1px 30px 1px #adadad;
        transform: scale(1.01);
        cursor: pointer;
    }
}
@media(max-width:780px){
    .contenido{
        top:50%
    }
}

/*end services*/

/*                     our products

                    <Content Home>
*/
.titleStart{
    text-align: center;
    font-size: 3rem;
    margin: 5rem 0;
}
.textoInicio{
    /* padding-top:4rem; */
    max-width:1200px;
    width:88%;
    margin:0 auto;
}
@media(min-width:768px){
    .textoInicio{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:3rem;
    }
}
.indexParagraph{
        margin:auto;
        font-size:1.1rem;
        line-height:1.8;
        text-align:justify;
}
.initImage{
    max-height:90%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 6px #c2c2c2;
    transition:transform .6s ease-in-out;
}
.initImage:hover{
    transform:scale(1.06);
}

/*                                               ---Gallery---        */
/*custon section*/
.sectionQuickProducts{
    padding:5rem 0;
    width:90vw;
    margin:0 auto
}

.titleProducts{
    text-align:center;
}

.titleProducts .message{
    font-size: 1.3rem;
    letter-spacing: '0.3rem';
}

.titleProducts .title{
    letter-spacing: '0.3rem';
    font-size: 2rem;
    text-transform: uppercase;
}

.titleProducts .underline{
    width: 5rem;
    height: 0.2rem;
    background:var(--primario);
    margin:0.5rem auto;
}

.galleryContainer{
    /* padding-top: 5rem; */
    height: 100vh;
}
.galleryDiv{
display:grid;
grid-template-columns:auto;
grid-row-gap:1rem;
}
.item{
    position:relative;
}
.info{
    position:absolute;
    top:0;
    left:0;
    background:var(--primario);
    color:#323232;
    opacity: .8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:0.1rem 0.3rem;
    text-transform:capitalize;
}
@media(min-width:576px){
    .galleryDiv{
    grid-template-columns:1fr 1fr;
    grid-column-gap:1rem;
    }
}
@media(min-width:768px){
    .galleryDiv{
    grid-template-columns:repeat(3,1fr);
    }
}
@media(min-width:992px){
    .gatsby-image-wrapper{
        max-height:100%;
    }
    .galleryDiv{
    grid-template-areas:'one one two two' 'one one three three';
    }
    .item-1{
        grid-area:one;
    }
    .item-1 .gatsby-image-wrapper{
        max-height: 533px;
        /* max-height: 447px; */
    }
    .item-2{
        grid-area:two;
    }
    .item-3{
        grid-area:three;
    }
}

.whatsapp{
    color:white !important;
    /* background-color: green; */
    border:none;
    width: 50px;
  height: 50px;
  background: #25D366;
  border-radius: 1000px;
  transition: all 0.5s;
  /* box-shadow: 2px 2px 10px 1px #9b9b9b; */
    font-size: 2rem;
}
.whatsapp a{
    text-decoration: none;
    color:white !important;
    outline: none;
}
.whatsapp:hover{
  box-shadow: 2px 2px 10px 1px #9b9b9b;
    
}
.whatsapp .show{
    transition: all 0.5s;

}
@media (min-width:991px) and (max-width: 1920px){
    .boxsh{
        box-shadow: 10px 10px 0px 0px #d6ad55;
    }
}

/*section little TASTE?*/

/**/

/*FOOTER*/
.footer{
    /* background-image: url('https://images.unsplash.com/photo-1552166539-7f3691985d0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #332818;
    background: linear-gradient(90deg, rgba(51,40,24,1) 29%, rgba(110,94,74,1) 64%, rgba(241,169,78,1) 100%);

    /* clear: both; */
    color:white;
    padding: 2rem 0;
}
@media(min-width:768px){
    .footer .contenedor{
        display: grid;
        grid-template-columns: repeat(2,30%) auto;
    }
}
@media(max-width:768px){
    .footer{
        margin-top:3rem;

    }
}
.contenedor a{
color:white;
font-size: 2rem;
text-align: center;
transition:color .3s ease-in-out;
}
.contenedor a:hover{
    color:var(--primario);
}