<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/fontawesome-all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=PT+Sans&display=swap" rel="stylesheet">
    <title>Health Store - Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-dark d-flex justify-content-between" style="color:#44b3c2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
          <img class="logo-img" src="../assets/logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./aboutUs.html">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Our Work
                </a>
                <ul class="dropdown-menu openlist" style="background-color: black;" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#!">Projects</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#!">Experience</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#!">Blog</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Contact.html">Contact Us</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

      <div class="hero">
        <div class="contenedor">
            <div class="contenido">
                <h1 class="titulo">Safe Delivery</h1>
                <p class="subtitulo">Your favourites products ready 4 you</p>
                <button class="custonBtn">More Info</button>
            </div>
        </div>
    </div>
    <div class="servicios contenedor">
        <div class="servicio">
            <h2>Fast Delivery</h2>
            <i class="fas fa-leaf"></i>
            <p>Fruits & Vegetables to your home fast and clean</p>
        </div>

        <div class="servicio">
            <h2>Organic products</h2>
            <i class="far fa-lemon"></i>
            <p>Grown with special care and free of pesticides</p>
        </div>

        <div class="servicio">
            <h2>No shipping cost</h2>
            <i class="fas fa-shopping-bag"></i>
            <p>The first 10 shipments are free!</p>
        </div>
    </div>
    <section class="portafolio contenedor">
      <h2 style="text-align: center;margin: 8rem;">Our Products</h2>
      <div id="listado" class="listado">
      </div>
  </section>
  <footer class="footer">
      <div class="contenedor">
          <div class="widget">
              <h3>Contacto</h3>
              <p>Tel:3512694707</p>
              <p>Córdoba, Argentina</p>
              <p>esteban.indiveri@gmail.com</p>
          </div>
          <div class="widget">
              <h3>Sobre Mi</h3>
              <p>Soy Desarrollador Full Stack realizo trabajos Freelance o puedo desempeñarme para una compañía out-sourcing </p>
          </div>
      </div>
  </footer>

    <script src="../js/app.js"></script>
</body>
</html>